{% extends 'base.html' %}
{% block title %}add post{% endblock title %}




{% block content %}
<h1>add post</h1>

<hr>
{% comment %} <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary" >add</button>
</form> {% endcomment %}


<div class="form-group">
    <form  method="post"   enctype='multipart/form-data'>   
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
      
       <br>
        <button class="btn btn-primary">create</button>
</form>

</div>
<script>
    var name = "{{user.id}}";
    document.getElementById('elder').value  = name;
</script>
{% endblock content %}