{% extends 'base.html' %} 
{% load static %}
{% block title %} {{post.title}} {% endblock title %} {% block content %}

<h1> {{post.title}}</h1>
<h4>{{post.auth}} | {{post.post_date}} | <a  href="{% url 'profile-user' post.auth.id %}">profile</a> <a class="btn btn-secondary" href="{% url 'edit-post' post.pk%}">edit</a> <a class="btn btn-danger" href="{% url 'delete-post' post.pk%}">delete</a>
</h4>
<hr>




{% if post.header_image %}
  <image src="{{post.header_image.url}}" style='width:300px ; height:200'/>
{% endif %}
<p>{{post.body|safe}}</p>


{% if user.is_authenticated %}
 

<hr>



<form action='{% url 'like-view' post.pk%}' method='POST' >
    {% csrf_token %} 
    {% if liked %}

    <button type="submit" value="{{post.id}}" name="post-id" class='btn btn-danger'>unlike</button> - {{total_like}}

    {% else %}
      <button type="submit" value="{{post.id}}" name="post-id" class='btn btn-primary'>like</button> - {{total_like}}
    {% endif %}
</form>

 {% endif %}
 <hr>
     <a class='btn btn-secondary' href={% url 'add-comment' post.pk%}> + add comment </a>

<div>
  {% if  post.comment.all  %}
  {% for comment in post.comment.all%}
    <section style="background-color:#808080;">
      <div class="container my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
          <div class="col-md-11 col-lg-9 col-xl-7">
            <div class="d-flex flex-start mb-4">
             
              <div class="card w-100">
                <div class="card-body p-4">
                  <div class="">
                    <h5>{{comment.name}} </h5>
                    <p class="small">{{comment.date}}</p>
                    <p>
                      {{comment.body}}
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endfor %}  
  {% else %}
  <hr>


  {% endif %}
   



 {% endblock %}